<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Supportive_Learning</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.default_schema">dbo</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.transaction.auto_close_session">false</property>
    <property name="hibernate.transaction.flush_before_completion">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="entities/Mark.hbm.xml"/>
    <mapping resource="entities/Subject.hbm.xml"/>
    <mapping resource="entities/Admin.hbm.xml"/>
    <mapping resource="entities/Assignment.hbm.xml"/>
    <mapping resource="entities/Classes.hbm.xml"/>
    <mapping resource="entities/Student.hbm.xml"/>
    <mapping resource="entities/Staff.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
